<div class="sidebar">
    <ul>
        @foreach (Webshop.Models.Category k in ViewBag.Kategorije)
        {
            if (ViewBag.Title == k.ImeKategorije || k.ID == ViewBag.KatID)
            {
                <li class="list-group-item active"><a href="/Kategorija/Proizvodi?cat=@k.ID">@k.ImeKategorije</a></li>
            }
            else
            {
                <li class="list-group-item"><a href="/Kategorija/Proizvodi?cat=@k.ID">@k.ImeKategorije</a></li>
            }
        }
    </ul>
</div>
