.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        position: fixed;
        margin-top: 140px;
        width: 200px;
        height: 100%;
        background-color: aquamarine;
    }

        .wrapper .sidebar ul li {
            padding: 15px;
        }

            .wrapper .sidebar ul li a {
                color: black;
                display: block;
            }

    .wrapper .main_content {
        width: 100%;
        margin-left: 210px;
    }

.header {
    position: fixed;
    width: 1150px;
    height: 140px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid;
    vertical-align: middle;
    font-size: x-large;
    background-color: lightyellow;
}

.proizvodi {
    margin-left: 20px;
    margin-top: 140px;
}

.photo {
    margin-top: 150px;
    margin-left: 210px;
    margin-bottom: 420px;
    position: static;
}

.price {
    margin-left: 100px;
    margin-top: 240px;
    margin-bottom: 500px;
    text-align: center;
    font-size: 44px;
}

.info {
    margin-top: 520px;
    margin-left: -800px;
    width: 900px;
    font-size: medium;
}

.list-group-item {
    background-color: aquamarine;
    width: 200px;
    border: none;
    margin-left: -40px;
    text-align: center;
    vertical-align: middle;
}
